@{
    ViewData["Title"] = "Top News with Fetch";
    int id = (int)ViewData["id"];
}

<div class="jumbotron">
    <h1>Top News with Fetch</h1>

    <div>
        <a href="#" id="prev">Previous</a> |
        <a href="#" id="next">Next</a>
    </div>

    <div class="row" data-id="@id" id="result">
    </div>
</div>